<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="studease-backend"/>

  <springProfile name="prod">
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <includeMdcKeyName>requestId</includeMdcKeyName>
        <customFields>{"service":"${appName}"}</customFields>
      </encoder>
    </appender>
    <root level="INFO">
      <appender-ref ref="STDOUT_JSON"/>
    </root>
  </springProfile>

  <springProfile name="!prod">
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>
